@{
    ViewData["Title"] = "Basic Service Plan";
}

<div id="Content" class="row">
    <div class="col-md-4">
        <h2>
            If you reached this page, you are on a Basic service plan.
        </h2>
    </div>
</div>  

