@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/tenant/images/IMG1.JPG" alt="ASP.NET" class="img-responsive" />
        </div>
    </div>
</div>  

